[submodule "MOxUnit"]
	path = external/MOxUnit
	url = https://github.com/MOxUnit/MOxUnit.git
[submodule "YALMIP"]
	path = external/YALMIP
	url = https://github.com/yalmip/YALMIP
[submodule "SeDuMi"]
	path = external/SeDuMi
	url = https://github.com/SQLP/SeDuMi
