/* Style sheet for Quaternion Toolbox help pages.
   Copyright 2008 Stephen J. Sangwine and Nicolas Le Bihan
*/ 

h1 {color:#002699; margin-top:0ex; font-weight:bold; font-size:3.5ex; border-bottom: 1px solid grey;}
h2 {color:black; font-weight:bold; font-size:2.5ex; border-bottom: 1px solid grey;}
h3 {color:#0000C0; font-weight:bold; font-size:1.5ex}
h4 {color:darkgrey; background-color:#262626; margin-top:2ex; padding-left:1ex; font-size:2ex;}
pre {padding-left:2ex; background-color:#e6e6e6; border: 1px solid #999999;}
table {border: 2px solid #999999; border-collapse: collapse;}
tr, td {border: 2px solid #999999; padding:5px;}
th {border: 2px solid #999999; padding:5px;}
/* $Id: qtfmstyle.css 1004 2017-11-15 17:14:09Z sangwine $ */
